<footer>
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3>bulma.id</h3>
                <ul>
                    <li>stufffff</li>
                    <li>stufffff</li>
                    <li>stufffff</li>
                </ul>
            </div>
            <div class="column">
                <h3>bulma.id</h3>
                <ul>
                    <li>stufffff</li>
                    <li>stufffff</li>
                </ul>
            </div>
            <div class="column">
                <h3>bulma.id</h3>
                <ul>
                    <li>stufffff</li>
                    <li>stufffff</li>
                </ul>
            </div>
            <div class="column">
                <h3>bulma.id</h3>
                <ul>
                    <li>stufffff</li>
                    <li>stufffff</li>
                </ul>
            </div>
        </div>
    </div>
</footer>