#background-behind {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/themes/inovidea-builder-app/assets/images/header-bg2.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -1;
}

html, body, #layout-content {
    height: 100%;
}

.border {
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #333;
    margin: 0 auto;
}

.is-brown-bg {
    background-color: #f6f6f6;
}

footer {
    padding: 40px 0;
    background-color: #555;
    color: #fff;

    h3 {
        padding-bottom: 10px;
    }
}