#background-behind {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/themes/inovidea-builder-app/assets/images/header-bg2.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -1;
}

html, body, #layout-content {
    height: 100%;
}